<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="rc.holding.houseplants.mybatis.repository.mapper.commentMapper">

  <resultMap id="commentMap" type="Comment">
    <id property="id" column="id" />
    <result property="plantId" column="plant_id" />
    <result property="userId" column="user_id" />
    <result property="dateCreated" column="date_created" />
    <result property="text" column="text" />
    <result property="isHidden" column="is_hidden" />
  </resultMap>

  <sql id="selectFrom">
    select
      id,
      plant_id,
      user_id,
      date_created,
      text,
      is_hidden
    from
      houseplants.comments  
  </sql>

  <sql id="where">
    <where>
      <if test="plantId != null">
        plant_id = #{plantId}
      </if>
      <if test="userId != null">
        and user_id = #{userId}
      </if>
      <if test="isHidden != null">
        and is_hidden = #{isHidden}
      </if>
    </where>
  </sql>

  <select id="findById" resultMap="commentMap">
    <include refid="selectFrom" />
    where
      id = #{id}
  </select>

  <select id="findAllByParams" resultMap="commentMap">
    <include refid="selectFrom" />
    <include refid="where" />
    <include refid="sortMapper.orderBy" />
  </select>

  <insert id="insert" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
    insert into houseplants.comments (
      plant_id,
      user_id,
      text)
    values (
      #{plantId},
      #{userId},
      #{text},
  </insert>

  <update id="update">
    update houseplants.comments
    <set>
      <if test="text != null">text = #{text}</if>
      <if test="isHidden != null">is_hidden = #{isHidden}</if>
    </set>
    where id = #{id}
  </update>

</mapper>  