<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="rc.holding.houseplants.mybatis.repository.mapper.photoMapper">

  <resultMap id="photoMap" type="Photo">
    <id property="id" column="id" />
    <result property="plantId" column="plant_id" />
    <result property="fileUri" column="file_uri" />
    <result property="dateCreated" column="date_created" />
  </resultMap>

  <sql id="selectFrom">
    select
      id,
      plant_id,
      file_uri,
      date_created
    from
      houseplants.photos  
  </sql>
      
</mapper>  