<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="rc.holding.houseplants.mybatis.repository.mapper.photoMapper">

  <resultMap id="photoMap" type="Photo">
    <id property="id" column="id" />
    <result property="plantId" column="plant_id" />
    <result property="fileUri" column="file_uri" />
    <result property="dateCreated" column="date_created" />
  </resultMap>

  <sql id="selectFrom">
    select
      id,
      plant_id,
      photo_uri,
      thumbnail_uri,
      date_created
    from
      houseplants.photos  
  </sql>

  <sql id="where">
    <if test="plantId != null">
      plant_id = #{plantId}
    </if>
    <if test="dateAfter != null">
      and date_created &gt;= #{dateAfter}
    </if>
    <if test="dateBefore != null">
      and date_created &lt;= #{dateBefore}
    </if>
  </sql>

  <select id="findAllByParams" resultMap="photoMap">
    <include refid="selectFrom" />
    <include refid="where" />
    <include refid="sortMapper.orderBy" />
  </select>

  <select id="findById" resultMap="photoMap">
    <include refid="selectFrom" />
    where
      id = #{id}
  </select>

  <insert id="insert" useGeneratedKeys="true">
    insert into houseplants.photos (
      plant_id,
      photo_uri,
      thumbnail_uri)
    values (
      #{plantId},
      #{photoUri},
      #{thumbnailUri})  
  </insert>

</mapper>  