<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="rc.holding.houseplants.mybatis.repository.mapper.plantMapper">

  <resultMap id="plantMap" type="Plant">
    <id property="id" column="id" />
    <result property="trefleId" column="trefle_id" />
    <result property="parentId" column="parent_id" />
    <result property="family" column="family" />
    <result property="genus" column="genus" />
    <result property="species" column="species" />
    <result property="commonName" column="common_name" />
    <result property="dateCreated" column="date_created" />
  </resultMap>

  <sql id="selectFrom">
    select
      id,
      trefle_id,
      parent_id,
      family,
      genus,
      species,
      common_name,
      date_created
    from 
      houseplants.plants 
  </sql>

  <select id="findAllPlants" resultMap="plantMap">
    <include refid="selectFrom" />
    order by
      date_created
  </select>

  <select id="findById" resultMap="plantMap">
    <include refid="selectFrom" />
    where
      id = #{id}
  </select>

  <insert id="insert" useGeneratedKeys="true">
    insert into houseplants.plants (
      trefle_id,
      parent_id,
      family,
      genus,
      species,
      common_name)
    values (
      #{trefleId},
      #{parentId},
      #{family},
      #{genus},
      #{species},
      #{commonName})  
  </insert>

      <update id="update">
      update houseplants.plants
      <set>
        <if test="trefleId != null">trefle_id = #{trefleId},</if>
        <if test="parentId != null">parent_id = #{parentId},</if> 
        <if test="family != null">family = #{family},</if>
        <if test="genus != null">genus = #{genus}</if>
        <if test="species != null">species = #{species}</if>
        <if test="commonName != null">common_name = #{commonName}</if>
      </set>
      where id = #{id}
    </update>
</mapper>  